.dashboard-container {
    /* min-height: 100%;
    background-color: rgb(5, 24, 51); */
}

.dashboard {
    display: flex;
    justify-content: space-around;
    margin: 80px auto;

}

.dashboard-main {
    position: relative;
}

.dashboard-main > div {
    display: flex;
    /* justify-content: space-between; */
    /* margin: 30px; */
    width: 600px;

}

.post-container {
    /* display: block; */
    width: 540px;
    /* height: 300px; */
}

.text-post > h3 {
    font-size: 36px;

}

.text-post > p {
    font-size: 14px;
}