.explore-container {
    position: relative;

    /* padding: 60px 10px; */
    margin: 80px auto;
    background-color: #34526f;
    display: flex;
    justify-content: center;
}

.explore-posts {
    position: relative;
    padding: 20px;
    display: flex;
    flex-flow: column wrap;
    /* justify-content: space-around; */
    height: 1200px;
    /* width: 20em; */
}

.explore-index-item-container {
    align-self: flex-start;
    background-color: white;
    width: 300px;
    /* min-height: 100px; */
    border-radius: 3px;
    margin: 10px;
    
}

.explore.post-author-container {
    padding: 10px 8px 5px 8px;
}

.explore.post-action-container{
    padding: 5px 10px;
}

.explore.post-action-actions > li > * {
    font-size: 16px;
}

.explore.notes {
    font-size: 16px
}

.explore.quote-post > h3 {
    font-size: 25px;
}

.explore.text-post > h3 {
    font-size: 25px;
}