.post-container {
    width: 540px;  
    font-size: 14px;
    padding: 15px 0 10px 0;
    margin: 0 0 20px 0;
    word-wrap: break-word;
    background-color: white;
    border-radius: 3px;
    vertical-align: baseline;
    transition: all ease .5s;
}

.post-container:hover {
    border-radius: 3px 20px 3px 3px;
    border-style: solid;
    transition: all ease .5s;

}

.post-author-container {
    height: 20px;
    padding: 0 20px;
}

.text-post > h3 {
    min-height: 47px;
    margin: 0 0 10px;
    padding: 0 20px;
    font-size: 36px;
    word-wrap: break-word;
}

.content-post {
    min-height: 21px;
    margin: 0 0 5px;
    padding: 10px 20px 0 20px;
    font-size: 14px;
    word-wrap: break-word;
}

.post-action-container {
    height: 45;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
}

.settings-button {
    border: none;
    font-size: 22px;
    position: relative;
    outline: none;
    cursor: pointer;
}

.settings-dropdown {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 4px 0;
    width: 120px;
    border: 1px solid lightgray;
    border-radius: 3px;
}

.settings-dropdown > button {
    border: none;
    font-size: 14px;
    padding: 5px 25px 5px 14px;
    outline: none;
    cursor: pointer;
}

.settings-dropdown > button:hover {
    background-color: lightblue;
}
