.post-container {
    width: 540px;  
    font-size: 14px;
    padding: 15px 0 10px 0;
    margin: 0 0 20px 0;
    word-wrap: break-word;
    background-color: white;
    border-radius: 3px;
    vertical-align: baseline;
    transition: all ease .5s;
}

.post-container:hover {
    border-radius: 3px 20px 3px 3px;
    border-style: solid;
    transition: all ease .5s;

}

.post-author-container {
    height: 20px;
    padding: 0 20px 7px 20px;
}

.follow-button {
    border: none;
    padding: 0 2px;
    margin: 0 2px;
    font-size: 13px;
    color: rgb(130, 200, 223);
}

.follow-button:hover {
    cursor: pointer;
}

.text-post > h3 {
    min-height: 47px;
    margin: 0 0 10px;
    padding: 0 20px;
    font-size: 36px;
    word-wrap: break-word;
}

.content-post {
    min-height: 21px;
    margin: 0 0 5px;
    padding: 10px 20px 0 20px;
    font-size: 14px;
    word-wrap: break-word;
}

.post-action-container {
    height: 45;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    color: darkgray;
}

.settings-button {
    border: none;
    font-size: 22px;
    position: relative;
    outline: none;
    cursor: pointer;
}

.settings-dropdown {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 4px 0;
    width: 120px;
    border: 1px solid lightgray;
    border-radius: 3px;
}

.settings-dropdown > button {
    border: none;
    font-size: 14px;
    padding: 5px 25px 5px 14px;
    outline: none;
    cursor: pointer;
}

.settings-dropdown > button:hover {
    background-color: lightblue;
}

/* quote */

.quote-post {
    min-height: 47px;
    margin: 0 0 10px;
    padding: 0 20px;
    word-wrap: break-word;
}

.quote-post > h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 48px;
    
}

.quote-post > p {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

.quote-post > p > span {
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    position: relative;
    top: 3px;
}

/* link */
.link-post {
    color: black;
    /* text-align: center; */
    width: 500px;
    padding: 5px 20px;
    /* background-color: rgb(242, 242, 242); */
    height: 50px;
}


.post-action-actions {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.fa-heart {
    border: none;
    font-size: 22px;
    position: relative;
    outline: none;
    cursor: pointer;
}
