/* body, html {
    position: relative;
    background-color: #34526f;
    color: white;
    height: 100%;
    width: 100%;
} */

.splash-container {
    position: relative;
    background-color: #34526f;
    color: white;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

/* ---app name: ummblr --- */
.ummblr {
    text-align: center;
    padding: 10px;
    font-size: 60px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
}

.ummblr:hover {
    animation: colorchange 1s ease-in-out infinite alternate;
    -webkit-animation: colorchange 1s ease-in-out infinite alternate;
}

@-webkit-keyframes colorchange {
    0% {
        color: yellow;
    }
    25% {
        color: salmon;
    }
    50% {
        color: teal;
    }
    75% {
        color: skyblue
    }
}

/* ---Sign Up / Log In Links--- */
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    width: 0 auto;
    background-color: #34526f;
}

.spash-motto {
    text-align: center;
    padding: 2px;
    margin: 0 0 20px 0px;
}

.signup-login {
    display: flex;
    flex-direction: column; 
    animation: 3s ease 0s normal forwards 1 fadein;
    -webkit-animation: 3s ease 0s normal forwards 1 fadein;
    opacity: 0
}

@keyframes fadein{from{opacity:0}
to{opacity:1}
}

@-webkit-keyframes fadein{from{opacity:0}
to{opacity:1}
}

.signup-link {
    border: 1px, transparent;
    background-color: rgb(13, 184, 255);
    width: 270px;
    height: 30px;
    padding: 10px;
    margin: 5px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: white;
}

.signup-link:hover {
    cursor: pointer;
}

.login-link {
    border: 1px transparent;
    background: white;
    color: black;
    width: 270px;
    height: 30px;
    padding: 10px;
    margin: 5px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
}

.login-link:hover {
    cursor: pointer;
}

/* ---session-form--- */

.form-box {
    position: absolute;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    justify-content: center;
    background-color: #34526f;
}

.session-form {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.session-form > input {
    padding: 10px;
    width: 280px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    animation: 2s ease 0s normal forwards 1 fadein;
    -webkit-animation: 2s ease 0s normal forwards 1 fadein;
    opacity: 0
}

@keyframes fadein{from{opacity:0}
to{opacity:1}
}

@-webkit-keyframes fadein{from{opacity:0}
to{opacity:1}
}

.email-input {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 0.5px solid black;
    border-radius: 3px 3px 0 0;
}

.user-input {
    border-top: 0.5px solid black;
    border-left: none;
    border-right: none;
    border-bottom: 0.5px solid black;
}

.password-input {
    border-top: 0.5px solid black;
    border-left: none;
    border-right: none;
    border-bottom: none;
    border-radius: 0 0 3px 3px;
}

.errors {
    margin: 8px 0;
    width: 300px;
}

.errors > li {
    border: 1px transparent;
    background: black;
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
    opacity: 0.3;
    color: white;
}

.session-form > input[type=submit] {
    margin: 3px 0;
    padding: 10px;
    background-color: rgb(13, 184, 255);
    color: white;
    border: 1px transparent;
    border-radius: 3px;
    width: 300px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    animation: 2s ease 0s normal forwards 1 fadein;
    -webkit-animation: 2s ease 0s normal forwards 1 fadein;
}

.session-form > input[type=submit]:hover {
    cursor: pointer;
}

.session-form > button {
    cursor: pointer;
    margin: 3px 0;
    padding: 10px;
    border: 1px transparent;
    border-radius: 3px;
    width: 300px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    animation: 2s ease 0s normal forwards 1 fadein;
    -webkit-animation: 2s ease 0s normal forwards 1 fadein;
    opacity: 0
}

@keyframes fadein{from{opacity:0}
to{opacity:1}
}

@-webkit-keyframes fadein{from{opacity:0}
to{opacity:1}
}